//
// Variables
// --------------------------------------------------

//
//Font Variables
//

// Font sizes
$font-size-largest          = 18px
$font-size-larger           = 16px
$font-size-medium           = 14px
$font-size-smaller          = 12px
$font-size-smallest         = 9px

// font weight
$font-weight-light          = 100
$font-weight-semilight      = 200
$font-weight-regular        = 400
$font-weight-semibold       = 600
$font-weight-bold           = 700

//
//Color Variables
//

//Shades of gray
$color-darkest-gray   = #666666
$color-darker-gray    = #A3ADB3
$color-gray           = #E4EBF1
$color-lighter-gray   = #F5F7F9
$color-lightest-gray  = #F9FAFC
$color-white          = #FFFFFF
$color-black          = #000000

//Colors
$color-primary        = #48BAC6
$color-primary-dark   = #138990
$color-secondary      = #C11A26
$color-alert          = #C11A26
$color-call-to-action = #F9BD00

//
//Layout
//

//Margins

$margin-largest  = 36px
$margin-larger   = 18px
$margin-medium   = 10px
$margin-smaller  = 5px
$margin-smallest = 0px

//Normalized dimens
$height         = 48px

