@font-face
  font-family: 'AndaleMono'
  src: url('../resources/AndaleMono.ttf') format('truetype')
  font-weight: $font-weight-medium
  font-style: normal
  
@font-face
  font-family: 'Bakersfield'
  src: url('../resources/BakersfieldBold.ttf') format('truetype')
  font-weight: $font-weight-bold
  font-style: normal


@font-face
  font-family: 'Bakersfield'
  src: url('../resources/BakersfieldLight.ttf') format('truetype')
  font-weight: $font-weight-light
  font-style: normal