.pos-center
  text-align: center

.pos-left
  text-align: left
  
.pos-right
  text-align: right
  
.pos-right-vertical-middle
  position: absolute
  top: 50%
  transform: translateY(-50%);
  right: 0