.navbar-container
  input(type="checkbox" id="navbar-toogle").navbar-menu-toggle
  label(for="navbar-toogle").navbar-menu-tg-container
    .navbar-menu-tg-icon-top
    .navbar-menu-tg-icon-bot
  a.navbar-logo(ui-sref="home") Patrícia Hokama
  .navbar-menu-container
    a.navbar-logo Contact
    .menu-logo
      .pos-left
        p.body.light.menu-logo-small Portfolio of
      .pos-center
        p.body.bold.menu-logo-large Patrícia Hokama
      .pos-right
        p.body.light.menu-logo-small A Product Designer
    .menu-footer
      p.body.light.menu-logo-small © 2015 by Saulo Furuta
