.loading
  .navbar-container(style='background-color: #000; position: absolute')
    input#navbar-toogle.navbar-menu-toggle(type='checkbox')
    label.navbar-menu-tg-container(for='navbar-toogle')
      .navbar-menu-tg-icon-top
      .navbar-menu-tg-icon-bot
    a.navbar-logo(ui-sref='home') Patrícia Hokama
  .spinner
    .double-bounce1
    .double-bounce2
