$forms-default-size  =  42px
$forms-default-lineheight  =  $forms-default-size + 1

input[type="text"], textarea
  display: block
  width: 100%
  height: $forms-default-size
  line-height: $forms-default-lineheight
  text-indent: $font-size-smallest
  outline: none
  border: none
  background-color: rgba(147, 147, 147, 0.3)
  + input[type="text"]
    margin-top: $font-size-largest
    
textarea
  height: 30vh
  margin-top: $font-size-largest
  padding-top: $font-size-smallest

//Submit Button

input[type="submit"], input[type="reset"]
  display: block
  float: right
  background-color: rgba(147, 147, 147, 0.3)
  margin-top: $font-size-largest
  margin-left: $font-size-largest
  width: 100px
  height: $forms-default-size
  line-height: $forms-default-lineheight
  outline: none
  -webkit-appearance: none
  appearance: none
  border: none
  
input[type="submit"]:active , input[type="reset"]:active
  background-color: rgba(147, 147, 147, 0.7)