$color = 161
.frame-top
  height: 1px
  position: absolute
  margin-top: 3vh
  margin-left: 6vw
  width: 88vw
  background-color: rgba($color,$color,$color,1)
.frame-bottom
  bottom: 0
  margin-bottom: 3vh
  margin-left: 6vw
  height: 1px
  position: absolute
  padding: 0 18px 0 18px
  width: 88vw
  background-color: rgba($color,$color,$color,1)

.frame-right
  right: 6vw
  margin-top: 3vh
  height: 85.5vh
  position: absolute
  width: 1px
  background-color: rgba($color,$color,$color,1)
  
.frame-left
  left: 6vw
  margin-top: 3vh
  height: 85.5vh
  position: absolute
  width: 1px
  background-color: rgba($color,$color,$color,1)