h1
  font: 100 22px Bakersfield
  font-weight: $font-weight-bold
  color: white  
  margin: 36px 0px

.navgation-item-title
  display: block
  font: 100 22px Bakersfield
  font-weight: $font-weight-light
  color: white  
  text-align: right
  + .navgation-item-title
    margin-top: 5vw
    
.body
  color: white
  font: 100 18px Bakersfield
  line-height: 22px

.light
  font-weight: $font-weight-light

.bold
  font-weight: $font-weight-bold

.largest
  font-size: 30px

.menu-logo-small
  font-size: 18px
  margin: 0px 36px

.menu-logo-large
  font-size: 22px
  margin: 18px 0
  
.text-container
  margin: 24px
  position: relative
  z-index: 2
  
.link   
  color: white
  font: $font-weight-bold 18px Bakersfield
  line-height: 22px

.link:active
  color: rgba(255, 255, 255, 0.6)