.img-fullscreen(style='background-image : url({{backgroundImg}})')
  include ./../partials/navbar.jade
  .navgation-title-container.pos-right-vertical-middle
    a.navgation-item-title(ui-sref="{{info}}") {{name}}
    a.navgation-item-title(ui-sref="{{gallery}}") Gallery
    a.navgation-item-title(ui-sref="{{extras}}") Extras