.img-fullscreen
  include ./partials/navbar.jade
  .text-container.pos-left
    h1 About Me
    p.body.light Graduated in Product Design at 
      b Centro Universitário Belas Artes of São Paulo
      | , 
      | I’m always looking to perfect my filed of expertise, and live new experiences.
    p.body.light Passionated about photography and printed midia, I’m very happy to 
      | have been part of the 
      b Minha Casa 
      |  and 
      b Caras
      | , famous brazilian magazines publishers.
    p.body.light I also have experience of 
      b Packaging of Physicla Mockups
      | , and today I’m looking for new challenges!
    p.body.light Wanna know more about me? 
    p.body.light Take a look at my 
      a.link(href="http://media.wix.com/ugd/3bf4ad_bdd8e08241de46dbbf01601d8b76ca76.pdf" target="_blank") résumè!
