.img-fullscreen
  include ./partials/navbar.jade
  //- no frames :(    
  //- .frame-top
  //- .frame-bottom
  //- .frame-right
  //- .frame-left
  img.img--no-gutter(src="http://static.wixstatic.com/media/3bf4ad_5c1dfdd65c0740d1b902b6b97e1168c7.jpg_srz_p_960_553_75_22_0.50_1.20_0.00_jpg_srz")
  .navgation-title-container
    a.navgation-item-title(ui-sref="projects") Projects
    a.navgation-item-title(ui-sref="about") About me 
    a.navgation-item-title(ui-sref="contact") Contact
    a.navgation-item-title(href="http://media.wix.com/ugd/3bf4ad_bdd8e08241de46dbbf01601d8b76ca76.pdf" target="_blank") Résumé