.img-neutral
  include ./../partials/navbar.jade
  a.img-overlay(ui-sref="mooca-nostra")
    p.body.light.largest.img-overlay-text Mooca Nostra
    img.img-project-item(src="/patricia-hokama/resources/project-mooca.png")
    //- img.img-project-item(src="/resources/project-mooca.png")
    
  a.img-overlay(ui-sref="redesign-dvd")
    p.body.light.largest.img-overlay-text Redesign Dvd
    img.img-project-item(src="/patricia-hokama/resources/project-Dvd.png")
    //-img.img-project-item(src="/resources/project-Dvd.png")

  a.img-overlay(ui-sref="hot-glasses")
    p.body.light.largest.img-overlay-text Hot Glasses
    img.img-project-item(src="/patricia-hokama/resources/project-Hot.png")
    //-img.img-project-item(src="/resources/project-Hot.png")

  a.img-overlay(ui-sref="minha-casa")
    p.body.light.largest.img-overlay-text Revista Minha Casa
    img.img-project-item(src="/patricia-hokama/resources/project-minhaCasa.png")
    //-img.img-project-item(src="/resources/project-minhaCasa.png")
  
  a.img-overlay(ui-sref="lets-play")
    p.body.light.largest.img-overlay-text Let's play?
    img.img-project-item(src="/patricia-hokama/resources/project-letsPlay.png")
    //-img.img-project-item(src="/resources/project-letsPlay.png")

  a.img-overlay(ui-sref="bleu")
    p.body.light.largest.img-overlay-text Blue de Channel
    img.img-project-item(src="/patricia-hokama/resources/project-blue.png")
    //-img.img-project-item(src="/resources/project-blue.png")

  a.img-overlay(ui-sref="render-mouse")
    p.body.light.largest.img-overlay-text Render
    img.img-project-item(src="/patricia-hokama/resources/project-mouse.png")
    //-img.img-project-item(src="/resources/project-mouse.png")